# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Save Directory
analysis
log
save_models
data

# script
script
*.sh
*.out

# vscode
.vscode
